nav .btn {
        background-color: #dcebb7;
        color: #8c898c;
        border: thin solid #0d1f2d;
        text-decoration: none;


}
nav a:hover{
    font-weight: bold;
}

nav a:active{
    text-decoration: none;
}

nav a:visited{
    color: #646165;
}

header .jumbotron {
    text-align: center;
    font-size: 50px;
    font-family: 'Lexend Zetta', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
}

.carousel {
    border-radius: 55px 55px 55px 55px;
}